$base-border-radius: 3px !default;
$hero-background-top: #7F99BE; 
$hero-background-bottom: #20392B;
$hero-color: white;
$gradient-angle: 10deg;


$dark-gray: #333 !default;
$base-font-color: $dark-gray !default;
$icon-bullet-size: 3.5em;